#product-list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}

#prodiv{
    width: 310px;
    height: 500px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
#prodivtop{
    width: 310px;
    height: 250px;
    /* border: 1px solid grey; */
    /* background-color: grey; */
}
#prodimg{
    width: 70%;
    display: block;
    margin: auto;
    /* height: 250px;
    border: 1px solid grey; */
}
#ratingreviewdiv{
    display: flex;
    width: 50%;
    justify-content: space-between;
}
#ratingdiv{
    justify-content: space-between;
    display: flex;
    width: 42px;
    height: 22px;
    background-color: 
    #00b5b7;
    margin: 5px;
    border-radius: 2px;
}
#ratingdiv img{
    width: 30%;
}
#ratingdiv p{
    color: white;
    margin-top: 3px;
    font-size: 16px;
}
#prodivbottom1{
    display: flex;
    justify-content: space-between;
}
#prodivbottom1 img{
    width: 8%;
    height: 8%;
}

#prodivbottom2 p{
    line-height: 25px;
}
#prodivbottom3{
    display: flex;
}
#prodivbottom3 h3{
    padding:  0 5px;
}
#prodivbottom3 h3+h4{
    padding:  0 5px;
    color: grey;
}